*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 28px;
}

p{
    font-size: 14px;
}

.articles{
    background-color: #F5F1E3;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}


colors{
    color: #000;
    color: #fff;
    color: #F5F1E3;
    color: #17b8a0;
    color: #20a4f3;
    color: #1c3041;
    color: #fb4d3d;
}

/* Nav Bar styling */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.hamburger-icon-line {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    margin: 5px 0;
    border-radius: 5px;
}

#hamburger-icon {
    float: right;
    padding: 7.5px 15px;
}

#hamburger-icon:hover {
    background-color: #139581;
}

#navlist{
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17b8a0;
}

.navbar-li-collapse {
    float:left;
}

#collapsible-navbar{
    float: right;
}

#navbar-li-fixed a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar-li-collapse a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
.navbar-li-collapse a:hover {
    background-color: #139581;
}

#toggle-nav {
    display: none;
    margin: auto;
    cursor: pointer;
 }

@media all and (max-width: 1000px) { 

    .placeholder {
        padding: 23px;
    }

    .navbar-li-collapse {
         float: none;
         display: none;
    }

    #collapsible-navbar{
        float:none;
    }

    #toggle-nav {
        display: block;
     }

}

/* Header styling */

#header{
    /* height: 100%; */
    height: 100vh;
    color: #fff;
    text-align: left;
    padding: calc(10% + 100px) 10%;
    padding: calc(20vh + 5%) 10%;
    background: linear-gradient(#000000a0, #00000010), url(/images/background.png);
    background-size: 750px;
}

#header h1{
    font-size: 11vh;
    margin-bottom: 3vh;
}

#header p{
    font-size: 3.5vh;
}

:after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 1.5s infinite 1.5s;
    animation: bounce 1.5s infinite 1.5s;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
  
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.scroll-down:hover {
    opacity: .5;
  }

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}


/* About me styling */

#about{
    background: linear-gradient(#e6e2d5, #F5F1E3);
    padding: 150px 50px 100px;
    color: #000;
}

#about-me{
    display: inline-block;
    list-style-type: none;
    justify-content: center;
    width: calc(50% + 420px);
}

#about-me-pic{
    width: 250px;
    height: 250px;
    background-image: url("images/home-profile.png");
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    box-shadow: 0 4px 12px 1px rgba(0, 0, 0, .6);
}

.about-me-info{
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

#about-me-img-list{
    float:left;
    padding-left: 50px;
}

#about-me-p{
    float:right;
    width: 56%;
}

#icon-link-left{
    margin-top: 25px;
    margin-left: calc(50% - 100px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#icon-link-right{
    margin-top: -50px;
    margin-left: calc(50% + 50px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#icon-link-left:hover, #icon-link-right:hover{
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
}

@media all and (max-width: 1000px) { 

    .about-me-info{
        width: 90%;
        margin-left: 5%;
        margin-top: 40px;
    }

    #about-me{
        width: 100%;
    }

    #about-me-img-list{
        float: none;
        padding-left: calc(50% - 125px);
    }

    #about-me-p{
        float:none;
        width: 100%;
    }

    #icon-link-left{
        margin-left: calc(50% - 100px);
    }

    #icon-link-right{
        margin-left: calc(50% + 50px);
    }

}

/* Skills styling */

#skills{
    padding: 50px;
    padding-top: 0;
    background-color: #F5F1E3;
}

.skills-title{
    color: #000;
    padding-bottom: 30px;
}

#skills-tech{
    padding-top: 50px;
}

.skills-icon{
    width: 60px;
    margin: 10px;
}

.skills-icon:hover{
    transform: scale(1.1);
}


/* Projects styling */

#projects{
    background-color: #F5F1E3;
    padding: 50px;
    padding-top: 70px;
    color: black;
}

.projects-title{
    padding-bottom: 30px;
}

.projects-column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.projects-row:after {
    content: "";
    display: table;
    clear: both;
}

.projects-card h1{
    font-size: large;
    margin: 0 15px;
}

.projects-card p{
    margin: 0 30px;
    margin-top: 15px;
}


.projects-card {
    border-radius: 3px;
    padding: 15% 0;
    text-align: center;
    background-color: white;
    cursor: pointer;
    overflow-y: hidden;
    position: relative;
    height: 0;
    padding-bottom: 50%;
}

.projects-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
    overflow: hidden;
}

.popup-background{
    position: fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 990;
    visibility: hidden;
}
.open-popup-background{
    visibility: visible;
}

.body{
    overflow: auto;
}

.open-popup-body{
    overflow: hidden;
}

.projects-popup{
    width: 80%;
    padding-bottom: 25px;
    background: #fff;
    border-radius: 1px;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    visibility: hidden;
    transition: transform 0.4s;
    z-index: 998;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.open-projects-popup{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.projects-popup h1{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 50px;
}

.projects-popup h2{
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 15px;
}


.projects-popup-example-images{
    width: 80%;
    border-radius: 1px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.projects-popup p{
    margin: 25px 75px;
}

.projects-popup-github-link{
    font-size: 14px;
    margin: 40px 75px 0px; 
    font-weight: normal;
    text-decoration: underline;
}

#projects-popup-close-img{
    float: right;
    width: 50px;
    margin: 5px;
}

#projects-popup-close-img:hover{
    background-color: #dfdfdf;
    cursor: pointer;
}

#projects-popup-close-button{
    width: 250px;
    height: 40px;
    border-radius: 3px;
    background-color: #f5f1e3;
    border: 1px solid black;
    margin: 25px 0 50px;
    font-size: 14px;
}

#projects-popup-close-button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


@media all and (max-width: 1000px) {
    .projects-column {
      width: 33%;
      display: block;
    }
}
@media all and (max-width: 800px) {
    .projects-column {
      width: 50%;
      display: block;
    }
}
@media all and (max-width: 600px) {
    .projects-column {
      width: 100%;
      display: block;
    }
}

/* Images for project card backgrounds */

#projects-card-1{
    background: linear-gradient(#f5f1e3af, #f5f1e3af), 
                url("images/projects/1/0.png") no-repeat center;
    background-size: 100%;
}

#projects-card-2{
    background: linear-gradient(#f5f1e3af, #f5f1e3af), 
                url("images/projects/2/2.png") no-repeat center;
    background-size: 100%;
}

#projects-card-3{
    background: linear-gradient(#f5f1e3af, #f5f1e3af), 
                url("images/projects/3/0.png") no-repeat center;
    background-size: 100%;
}

#projects-card-4{
    background: linear-gradient(#f5f1e3af, #f5f1e3af), 
                url("images/projects/4/0.png") no-repeat center;
    background-size: 110%;
}

#projects-card-5{
    background: linear-gradient(#f5f1e3af, #f5f1e3af), 
                url("images/projects/5/1.png") no-repeat center;
    background-size: 110%;
}

#projects-card-6{
    background: linear-gradient(#f5f1e3af, #f5f1e3af), 
                url("images/projects/6/1.png") no-repeat center;
    background-size: 125%;
}

#projects-card-7{
    background: linear-gradient(#f5f1e3af, #f5f1e3af), 
                url("images/projects/7/1.png") no-repeat;
    background-size: 106%;
}

#projects-card-8{
    background: linear-gradient(#f5f1e3af, #f5f1e3af), 
                url("images/projects/8/0.png") no-repeat center;
    background-size: 106%;
}


/* Experience styling */

#experience{
    background-color: #F5F1E3;
    padding: 50px;
    color: black;
}

.experience-title{
    padding-bottom: 30px;
}

.experience-div{
    width: 100%;
    display:flex;
}

.experience-div-vert-line{
    position: relative;
    border: 3px solid #fb4d3d;
    margin-left: 10%;
    margin-right: 5%;
}

.experience-div-vert-line-center-shape{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fb4d3d;
}

.experience-div-content{
    width: 100%;
    margin: 40px 10% 40px 0;
    text-align: left;
}

.experience-div-content h2{
    font-size: 20px;
    font-style: oblique;
}

.experience-div-content h3{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

/* Education styling */

.education-div-vert-line{
    position: relative;
    border: 3px solid #20a4f3;
    margin-left: 10%;
    margin-right: 5%;
}

.education-div-vert-line-center-shape{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #20a4f3;
}

/* Technology Used styling */

.tech-used{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tech-used-project{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-used-card{
    margin: 5px 0;
    font-size: 11px;
    border: 1px solid #000;
    padding: 2.5px 6px;
    margin-right: 8px;
    border-radius: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* Contact styling */

#contact{
    background-color: #17b8a0;
    padding: 25px;
    color: white;
}

.contact-title{
    padding-bottom: 15px;
}

#contact-final-p{
    margin-bottom: 25px;
}

.contact-icon-container{
    margin: 10px;
}

.contact-icon{
    width: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.contact-icon:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
}


/* Footer styling */

#footer{
    background-color: #0f1a23;
    padding: 20px 30px 30px 30px;
    color: #dadada;
}

#footer p{
    font-size: 10px;
    float: left;
}
